* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;

}

.TicTacToe {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
    width: 350px;
    height: 350px;
    justify-content: center;
    padding: 25px;
    background-color: lightskyblue;
    
}

.row div {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 1px solid saddlebrown;
}